<h1>Tamagotchi World!</h1>
<img src="/default-tamagotchi.gif" alt="Your cute Tamagotchi!">
<h2>$myPet.getName()</h2>
<h3>Current Food Level: $myPet.getFoodLevel()</h3>
<h3>Current Sleep Level: $myPet.getSleepLevel()</h3>
<h3>Current Happiness Level: $myPet.getActivityLevel()</h3>
<h3>Current Poop Level: $myPet.getPoopLevel()</h3> 
